<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.Description }}{{ else }}{{ if .Description }}{{ .Description | plainify }}{{ else }}{{if .IsPage}}{{ .Summary | plainify  }}{{ end }}{{ end }}{{ end }}"/>
<meta name="robots" content="noodp"/>
<link rel="canonical" href="{{ .Permalink }}" />

<!-- OG data -->
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta content="{{ .Title }}{{ if .IsHome }} - {{ .Site.Params.Tagline }}{{ else }} - {{ .Site.Title }}{{ end }}" property="og:title">
<meta content="{{ if .IsHome }}{{ .Site.Params.Description }}{{ else }}{{ if .Description }}{{ .Description | plainify }}{{ else }}{{if .IsPage}}{{ .Summary | plainify  }}{{ end }}{{ end }}{{ end }}" property="og:description">
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
{{ range .Params.categories }}<meta property="article:section" content="{{ . }}" />{{ end }}
{{ if isset .Params "date" }}<meta property="article:published_time" content="{{ time .Date }}" />{{ end }}

<!-- JSON-LD -->
{{ if .IsHome }}
<script type="application/ld+json">
{{ partial "WebSite.json+ld" . | safeJS }}
</script>
{{ end }}

{{ if .IsPage }}
<script type="application/ld+json">
{{ partial "BlogPosting.json+ld" . | safeJS }}
</script>
{{ end }}
